
$primary: #9ab7c5; // sky-blue
$secondary: #345566; // slate-blue
$success: #27404d; // deep-blue
$info: #1a2b33; // navy-blue
$warning: #fffeF6; // ivory
$danger: #fffeE9; // light-ivory
$light: #f2e8bc; // sand
$dark: #b6ae8d; // tan
